

.wrap{
	
	background: white;
	width-max: 1920 x 1080px;
	margin: 10px auto;
}


/*bagian header*/
.wrap .header{
	background: darkgreen;
	/*height: 50px;*/
	padding: 2px 10px;
	text-align:left;
	max: 20px;
        	font-weight:;
       	color: yellow;
	font-family:  vivaldi;
	margin-bottom:5px;
	line-height:5px;
      	font-size: 20px;
	text-align: center;
	background-color:darkgreen ;
	bottom: 20px;
}


.wrap .header2{
 
	background: darkgreen;
	/*height: 50px;*/
	padding: 2px 10px;
	text-align:left;
        	font-weight:bold;
       	color: yellow;
	left:30px;
	line-height:0px;
	font-family:  vivaldi;
      	font-size: 18px;
	text-align: center;
	margin-top:10px;
	height: 97px;
}


/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background: white;
}

.wrap .menu ul{
	padding: 0;
	margin: 0;
	background:lightGreen;
	overflow: hidden;
       	color: white;
	font-size: 20px;
	text-align: center;	
	font-family:  Times New Roman;
	margin-top:3px;
}

.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}


/*akhir menu*/
 
.clear{
	clear: both;
	
}


.badan{
	height: 450px;
}


/*bagian sidebar*/
.wrap .badan .sidebar{
	background: white;
	float: left;	
	width: 25%;
	height: 1250%;
	font-family: Bodoni MT;
	color:black;
	text-align: center;
	margin-top:40px;
      	margin-bottom:5px;
	
}


.wrap .badan .bulan{
	color:Red;
	text-align: left;
	line-height: 27px;
}

.wrap .badan .content{
	
	background: Ghostwhite;
	float: left;
	height: 1250%;
	width: 75%;
	text-align:left;
	font-family: times new roman;
	color: black;
	font-size: 18px;
	margin-top:40px;
      	margin-bottom:5px;	
	line-height: 25px;
	
}

.wrap .badan .artikel{
	color: Red;
	font-size: 13px;
	line-height: 18px;
}

.wrap .konten{
	line-height: 20px;
	color: royalblue;
	font-family: times new roman;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 20px;
    opacity: 0.9;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}
.share-btn:hover {
    color: #eeeeee;
}
.share-btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: #e2e2e2;
    outline: none;
}
.share-btn.email { background:darkred; }
.share-btn.whatsapp { background:green; }
.share-btn.facebook { background: navy; }
.share-btn.instagram { background: #red; }

.container{
    width: 500px;
    margin: auto;
  }
  .facebook,.instagram,.youtube,.twitter,.google-plus{
    display: inline-block;
    margin-right: 5px;
  }

  .facebook{
    width: 20px;
    height: 20px;
    background-color: blue;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
  }

.google-plus{
    width: 30px;
    height: 30px;
    background-color: red;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
  }

.email{
    width: 20px;
    height: 20px;
    background-color: red;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
  }
.whatsapp{
    width: 20px;
    height: 20px;
    background-color: green;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
  }

.youtube{
    width: 30px;
    height: 30px;
    background-color: darkred;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
  }
.instagram{ 
    width: 20px;
    height: 20px;
    background-color:red;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}

  .twitter{
    width: 30px;
    height: 30px;
    background-color: #3899fe;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
  }


.wrap .footer{
	
	background: black;
	width-max: 1920 x 1080px;
	padding: 10px;
	text-align: center;
	font-family: Bodoni MT;
	color: blue;
	margin-top:40px;
      	margin-bottom:5px;
	
	}

.wrap .footer2{
	background:black;
	width-max: 1920 x 1080px;
	padding: 10px;
	text-align: center;
	font-family: Bodoni MT;
	color: white;
	margin-top:40px;
      	margin-bottom:5px;
	
	}
